<h1>Productos</h1>
<div style="display: flex;">
    {{#each productos}}
 <div class="card" style="width: 18rem;">
  <img src="{{this.thumbnail}}" className="card-img-top" alt="{{this.title}}">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{this.code}}</li>
    <li class="list-group-item">${{this.price}}</li>
    <li class="list-group-item">Stock: {{this.stock}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">{{this.status}}</a>
    <a href="#" class="card-link">{{this.category}}</a>
    <button class="btn btn-success" id="{{this._id}}">Agregar al Carrito</button>
  </div>
</div>
    {{/each}}
</div>
{{#if hasPrevPage}}
 <a href="/?limit={{limit}}&page={{prevPage}}&sort={{sort}}&query={{query}}"><button class="btn btn-danger">Anterior</button></a>
{{/if}}
{{#if hasNextPage}}
 <a href="/?limit={{limit}}&page={{nextPage}}&sort={{sort}}&query={{query}}"><button class="btn btn-danger">Siguiente</button></a>
{{/if}}